.card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
 
  &:global(.g-card) {
    background: var(--g-color-private-brand-400-solid);

    &:hover {
      cursor: pointer;
      background: var(--g-color-private-brand-500-solid); 
    }
  }

  > * {
    width: fit-content;
  }

  > span {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }

  .company {
    display: flex;
    align-items: center;
    gap: 8px;

    > svg {
      color: darkorchid;
      width: 100%;
      height: 100%;
    }
  }

  // .date-time {
  //   display: flex;
  //   gap: 16px;
    
  //   > p {
  //     display: flex;
  //     width: fit-content;
  //     flex-direction: column;
  //     gap: 4px;
  //   }
  // }
}