$grey-100: #f9f9f9;
$grey-200: #f1f1f1;
$grey-300: #e4e4e7;
$grey-400: #d4d4d8;
$grey-500: #a1a1aa;
$grey-600: #71717a;
$grey-700: #52525b;
$grey-800: #3f3f46;
$grey-900: #27272a;

$neutral-100: #ffffff;
$neutral-200: #f9fafc;
$neutral-300: #f4f4f8;
$neutral-400: #e3e3eb;
$neutral-500: #cacbd4;
$neutral-600: #a8a9b2;
$neutral-700: #717188;
$neutral-800: #323241;
$neutral-900: #000000;

$pink-100: #f7d6d9;
$pink-200: #e57880;
$pink-300: #b76066;

$red-400: #f34e4e;
$red-500: #e21a1a;
$red-600: #c01616;

$coral-100: #ffe2db;
$coral-200: #fc6848;
$coral-300: #ca533a;

$yellow-100: #fff5cb;
$yellow-200: #e3c444;
$yellow-300: #b69d36;

$orange-100: #eeca9d;
$orange-200: #e17d00;
$orange-300: #b46400;
$orange-400: #ff995f;

$blue-100: #c6e6f4;
$blue-200: #40b8eb;
$blue-300: #3393bc;

$light-blue-100: #e4f2ff;
$light-blue-200: #84bae8;
$light-blue-300: #6a95ba;

$cyan-100: #b3c8d6;
$cyan-200: #024876;
$cyan-300: #023a5e;

$indigo-100: #dde5ff;
$indigo-200: #5377e3;
$indigo-300: #425fb6;
$indigo-400: #477fef;

$purple-100: #dec3ee;
$purple-200: #9137c5;
$purple-300: #742c9e;

$violet-100: #dfd0f1;
$violet-200: #50287e;
$violet-300: #402065;

$green-100: #c9e9d4;
$green-200: #4ab771;
$green-300: #3b925a;
$green-400: #2f7447;

$emerald-100: #c0efc9;
$emerald-200: #67b576;
$emerald-300: #52915e;

$lime-100: #e0eec9;
$lime-200: #97c64b;
$lime-300: #799e3c;

$white: #ffffff;
$black: #222222;

$border: $neutral-600;