@use '@/styles/fonts.scss' as fonts;

.title-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.selected {
  @include fonts.default;
}

.seat-selection {
  display: flex;
  gap: 16px;
  align-items: center;
}

.selected-data {
  padding: 4px;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    background: colors.$neutral-300;
  }
}