
.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: var(--container-border-radius);
}

.accent {
  background: var(--g-color-private-brand-500-solid);
}

.primary {
  background: var(--g-color-private-brand-400-solid);
}

.secondary {
  background: var(--g-color-private-brand-300-solid);
}