.header {
  display: flex;
  top: 0;
  position: sticky;
  padding: 18px 0;
  z-index: 100;
  width: 100%;
  height: var(--header-height);
  background: colors.$blue-100;

  border-bottom: 1px solid colors.$border;
}

.content{ 
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 100%;
  font-size: 1.5em;

  .link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
  span {
    opacity: 0.5;
    pointer-events: none;
  }
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}
