.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  border: 1px solid colors.$border;
  border-radius: 6px;
}

.dropdown-item {
  padding: 8px;
  border-radius: 6px;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: colors.$neutral-300;
    }
  }

}