@use '@/styles/fonts.scss' as fonts;

.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 12px;
  background: colors.$neutral-200;
 
  &:hover {
    cursor: pointer;
     background: colors.$neutral-300; 
  }

  .company {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .route {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .from-to {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .date-time {
    @include fonts.caption;
    display: flex;
    gap: 16px;
    align-items: center;
  }
}