.card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  background: colors.$neutral-200;
 
  &:hover {
    cursor: pointer;
     background: colors.$neutral-300; 
  }

  > * {
    width: fit-content;
  }

  > span {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }

  .company {
    display: flex;
    align-items: center;
    gap: 8px;

  }

  // .date-time {
  //   display: flex;
  //   gap: 16px;
    
  //   > p {
  //     display: flex;
  //     width: fit-content;
  //     flex-direction: column;
  //     gap: 4px;
  //   }
  // }
}