.cards {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 32px;

  @include breakpoints.md {
    justify-items: space-between;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px 24px;
  background: colors.$neutral-200;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cost {
  display: flex;
  gap: 2px;
  align-items: center;
}